body {
  background: linear-gradient(135deg, #4f46e5, #0ea5e9);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px 40px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

#joke {
  font-size: 1.2rem;
  min-height: 70px;
  color: greenyellow;
}

button {
  background: white;
  border: none;
  margin-top: 20px;
  padding: 14px 20px;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e0e7ff;
  transform: scale(1.05);
}
