* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

body p {
    color: grey;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

body {
    background-color: rgb(24, 24, 24);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px black;
    border: 1px solid grey;
    padding: 28px;
}

.row {
    width: 100%;
    padding: 5px;
    margin: 1rem;
    margin-left: 0;
}

.row input {
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(7, 169, 7);
    color: white;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


.resultBox {
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    background: #f0f9ff;
    border: 2px solid #4ec9ff;
    box-shadow: 0 0 15px rgba(0, 136, 204, 0.2);
}

.resultBox h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0077b6;
    font-weight: 700;
}

.resultBox h2 {
    font-size: 22px;
    margin: 0;
    font-weight: 600;
    color: #004e64;
}

.resultBox h2 span {
    color: green;
    font-weight: 700;
    font-size: 28px;
}


