* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.outerbox {
    background-image: url('https://img.freepik.com/free-vector/gradient-pink-swirl-background_23-2149936784.jpg?semt=ais_hybrid&w=740&q=80');
    overflow: hidden;
    min-height: 100vh;
    background-repeat: no-repeat;   
    background-size: cover;         
    background-position: center; 
}

.innerbox {
    background-color: white;
    margin: 100px;
    padding: 44px;
    box-shadow: 0px 0px 20px gray;
    border-radius: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-items: flex-start;
}


.image img {
    width: 600px;
    object-fit: cover;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 0px 20px black;
}


.about {
    padding-top: 50px;
    max-width: 700px;
}

.about h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: rgb(240, 11, 49);
}

.about p {
    line-height: 1.6;
    color: #575757;
    
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #f7435e;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
  margin: 20px 8px 10px 0px
}

button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f7435e;
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.btns {
    margin-top: 25px;
}

.btn:hover , button:hover{
  background-color: #0d0003;
}


@media (max-width: 1000px) {
    .image img {
        width: 420px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 20px;
    }

    .about h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        padding: 0 10px;
    }

    .image img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        object-fit: cover;
    }

    .innerbox {
        margin: 30px 16px;
        padding: 24px;
    }

    .about {
        padding: 12px 6px;
    }

    h1 {
    margin-bottom: 12px;
    text-align: center;
}
}

@media (max-width: 420px) {
    .about h2 {
        font-size: 1.25rem;
    }

    .about p {
        font-size: 0.95rem;
    }

    .innerbox {
        margin: 18px 8px;
        padding: 18px;
    }

     h1 {
    margin-bottom: 12px;
    text-align: center;
}
}